/* Outline cards */
.outline-card .ant-card {
  border: var(--primary-border-strong);
  border-radius: var(--primary-border-radius-md);
  box-shadow: var(--primary-shadow-xs);
  transition: all 0.3s ease-in-out;
}

.outline-card .ant-card:hover {
  border: var(--primary-border-strong);
  box-shadow: var(--primary-shadow-sm);
  cursor: pointer;
}

.outline-card .ant-card-body {
  padding: 0px;
  transition: all 0.3s ease-in-out;
}

.outline-slide-number-container {
  background-color: var(--primary-bg);
  border-radius: 8px 0px 0px 8px;
  transition: all 0.3s ease-in-out;
}

.delete-button-visible {
  opacity: 1;
  transition: opacity 180ms ease-in-out;
}
.delete-button-hidden {
  opacity: 0;
  transition: opacity 180ms ease-in-out;
}

.outline-card-active .ant-card {
  border: var(--primary-border-strong);
  box-shadow: var(--primary-shadow-md);
  background-color: var(--primary-highlight);
  transition: all 0.3s ease-in-out;
}

.outline-card-active .ant-card-body {
  background-color: var(--primary-highlight);
  transition: all 0.3s ease-in-out;
}

/* Typing indicator */
.typing-cursor {
  color: var(--primary);
  font-size: 12px;
  font-weight: normal;
  animation: blink 1s infinite;
}

/* Status tags */
.outline-generating-tag {
  border: var(--primary-border-light);
  background-color: var(--primary-bg);
  color: var(--primary);
  text-align: end;
}
