.create-new-presentation-card .ant-card-body {
  border: 2px dashed #d9d9d9;
  border-radius: 8px;
  text-align: center;
  height: 100%;
  display: flex;
  transition: all 0.3s ease-in-out;
  align-items: center;
  color: #8c8c8c;
}

/* Hover effect */
.create-new-presentation-card .ant-card-body:hover {
  border: 2px dashed var(--primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.create-new-presentation-card .ant-card-body:hover * {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}
