.template-selector {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--text-secondary);
  transition: all 0.3s ease-in-out;
}

.template-selector:hover {
  background-color: var(--primary-highlight-hover);
  border: 1px solid var(--primary);
  cursor: pointer;
}

.template-selector:active {
  background-color: var(--primary-hover);
  border: 1px solid var(--primary);
  color: white;
}

.template-selector.selected {
  background-color: var(--primary-highlight-hover);
  border: 1px solid var(--primary);
}

.template-selector.selected > .template-name {
  color: var(--primary);
}

.visual-style-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.visual-style-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visual-style-item:hover {
  cursor: pointer;
}

.visual-style-item:hover::after {
  opacity: 1;
}

.visual-style-item:active::after {
  background-color: rgba(0, 0, 0, 0.7);
}

.visual-style-item.selected {
  box-shadow: 0 0 10px 1px var(--primary-hover);
}
